<p><%= message %></p>

<% if (showSpecialMessage) { %>
  <p>This is a special message that only shows when 'showSpecialMessage' is true.</p>
<% } else { %>
  <p>This is a regular message.</p>
<% } %>
